<div *ngIf="x==0" class="recomended" >
<div class="d-flex justify-content-center">
<ol  >
    <li  *ngFor="let courses of finaldata">
   <a target="_blank"  [href]="['https://educateplus.000webhostapp.com/items/'+courses.name]"> {{courses.name}} 
   
      </a> </li>
    </ol>

    </div>
</div>
<div class="d-flex justify-content-center">
<div *ngIf="x==1">
  <!-- <div id="box">
    <h2>sorry our recomndation is based on your raintg of our course </h2>
  </div> -->
  <div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="display-1 fw-bold">404</h1>
        <p class="fs-3"> <span class="text-danger">Opps!</span> our recomndation is based on your raintg of our course</p>
        <p class="lead">
           try to read and rate our courses to get your recomndation 
          </p>
        <a routerLink="/courses" class="btn btn-primary">Go to courses</a>
    </div>
</div>
  
      </div></div>