 <!-- <i  id="icon"   (click)="clicked()"  [ngClass]="{'bi bi-heart' : c === false ,
'bi bi-heart-fill ' : c=== true  } "    >
<span>{{x}}</span>
</i>    -->



<div class="about-section">
    <h1>About Us </h1>
    <p>We are a group of talented students who want to make Study experience easier and more 
        effective
        </p>
   
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div  class="column">
      <div class="card">
        <div class="container">
            <h2 class="name">Toumi Ayoub</h2>
            <h3 class="title"> front end developer </h3>
            <p>expert in html css and javascript in angular framework</p>
            <p>tmyuppi@gmail.com</p>
        <img src="assets/myimage/ayoub.jpg" alt="Toumi ayoub" style="width:100%">
        
      
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <div class="container">
            <h2  class="name">zeroul ahmed walid</h2>
            <h3 class="title">back end developer</h3>
            <p>expert in php language and database development</p>
            <p>zeroual.a.walid@gmail.com</p>
           
          </div>
        <img src="assets/myimage/walid.jpg" alt="zeroul ahmed walid" style="width:100%">
      
      </div>
    </div>
  
   
  </div>






