.box{
    border: 10px;
    border-color: aqua;
}
.allcontent{
    min-height: 100px;
    display: flex; 
    font-family:Georgia, 'Times New Roman', Times, serif;
   font-size: medium
    
}
.allcontent .sign-in-image{
    width: 70%;
    height: 600px;
}
.allcontent .f{
    width: 30%;
    margin-top: 100px;
}
.input-container{
    
    min-width: 250px;
    text-align:center;
   margin-bottom: 10px;
   
    

}

.input-container *{
    border-radius: 7px;
}
@media (max-width: 1107px){
.allcontent{
    flex-direction: column;
    
}
.allcontent .f{
    margin-top: 10px;
  
}

.allcontent .sign-in-image{
    height: 230px;
   width: 100%;
   background-position-y: -230px;
}
}
@media (max-width: 449px){
    .allcontent .f{
        margin-top: 10px;
        width:min-content;
    }

}



